* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.caixa {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.verde {
    background-color: rgba(0, 128, 0, 0.651) !important;
    color: white !important;
}

.azul {
    border-color: blue !important;
    background-color: rgb(202, 202, 245) !important;
}

.vermelho {
    border-color: red !important;
    background-color: rgb(236, 157, 157) !important;
}

button {
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}

#caixa_pesquisa input, input{
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}