* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa {
    background-color: rgb(224, 224, 224);
    border: 5px solid black;
    border-radius: 30px;
    text-align: center;
}