.curso{ display: flex;
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0px;
    cursor: pointer;
}


.curso:hover{
    border-color: #f00;
}

.c1 {
    background-color: #ccc;
    color: #444;
}

.c2 {
    background-color: #444;
    color: #ccc;
}

.destaque {
    background-color: #c53c91 !important;
    color: #000000 !important;
    border-color: #f00 !important;
}
     
.destaque:hover {
    background-color: #f0a !important;
    color: #000000 !important;
    border-color: #f00 !important;
}